body {
    background-color: #f9f9f9;
    margin: 5px 5%;
    #header {
      margin-bottom: 3rem;
      padding: 0 50px;
      #topbar {
        width: 100%;
        height: 15px;
        display: inline-flex;
        border-top: 1px solid #bcbcbc;
  
        .bar:nth-child(1) {
          border-left: none;
          width: 47%;
        }
  
        .bar {
          width: 13%;
          border-left: 1px solid #bcbcbc;
        }
      }
  
      background-color: #f9f9f9;
  
      #navBar {
        display: flex;
  
        #logo {
          width: 48%;
          font-size: 50px;
        }
  
        #navBarlist {
          list-style: none;
          width: 40%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 25px;
          row-gap: 10px;
          height: fit-content;
          font-family: 'Afacad', sans-serif;
  
          > p {
            height: 20px;
            margin: 0;
          }
          > a {
            text-decoration: none;
            color: black;
            p {
              height: 20px;
              margin: 0;
            }
          }
          .bold {
            font-weight: 700;
          }
        }
  
        #contactUS {
          padding-top: 20px;
          font-family: 'Afacad', sans-serif;
        }
      }
    }
  
    .maindiv {
       
      
        h1 {
          font-size: 1.5em;
          color: #333; // Set your desired text color
          margin-bottom: 20px;
          text-align: center;
          font-family: 'Afacad', sans-serif;
        }
      
       //chechbox style
       .checkbox-container {
        display: flex;
        align-items: center;
        justify-content: center; 
        font-family: 'Afacad', sans-serif;
        input[type="checkbox"] {
            margin-right: 20px; 
            transform: scale(1.5); 
        }
        label {
            font-size: 1.2em; 
        }
    }
      
        #noppl {
          display:block;
          margin:auto;
         // border:1px solid ;
          padding:80px 250px 10px 250px;
          font-size: 1.4em; 
            .myForm {
              border-radius: 10px; 
              box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
              font-family: 'Afacad', sans-serif;
              margin-bottom: 100px;
              padding:40px;
                label {
                  margin-bottom: 10px;
                }
            
                
                input[type="number"]{
                    margin-bottom: 20px;
                    margin-right: 32px;
                    margin-left: 59px;
                    padding: 5px; 
                    border-radius: 5px;
                    font-size: 0.8em; 
        
                }
                input[type="text"]{
                    margin-bottom: 20px;
                    margin-right: 32px;
                    margin-left: 39px;
                    padding: 5px; 
                    border-radius: 5px;
                     font-size: 0.8em; 
        
                }
                input[type="radio"]{
                    margin-bottom: 30px;
                    margin-right: 5px;
                    margin-left: 25px; 
                    // padding: 4px;  
                    border-radius: 5px;
        // font-size: 5em; 
        transform: scale(1.5);
        
                }
            }
          }
        button {
          padding: 5px 10px;
          font-size: 0.8em;
          background-color: #3498db; 
          color: #fff; 
          border: none;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
                    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
                    transition: box-shadow 0.15s, transform 0.15s;
         // margin-top:5px;
          text-align: center;
          font-family: 'Afacad', sans-serif;
          a{
            text-decoration: none;
            color: #fff; 
          }
          
        
        }
        #add{
            background-color: green;
            font-size: 1.3rem;
            margin-top: 60px;     box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
            font-family: 'Afacad', sans-serif;
           
            &:active {
              box-shadow: #d6d6e7 0 3px 7px inset;
              transform: translateY(2px);
            &:hover {
              background-color: #27ae60;
             
            }
          }
        }
          .del{
            background-color: rgb(238, 25, 25);
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
            font-family: 'Afacad', sans-serif;
           
            &:active {
              box-shadow: #d6d6e7 0 3px 7px inset;
              transform: translateY(2px);
            &:hover {
              background-color: #27ae60;
             
            }
          }
        }
          #btn1{
           // background-color: rgb(191, 191, 243);
            font-size: 1.3rem;
            margin-top: 60px;
          }
      }
      
  
    #footer {
      margin-top: 3rem;
      background-color: #f9f9f9;
      #footer1 {
        font-family: 'Afacad', sans-serif;
        padding: 0 30px;
        display: flex;
        height: 150px;
        align-items: center;
        div {
          padding: 20px;
          font-size: 30px;
          width: 25%;
        }
        #socials {
          width: 25%;
          a {
            display: inline-block;
            vertical-align: middle;
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            img {
              width: 25px;
              margin: 25%;
            }
          }
        }
        #emailInput {
          height: 40px;
          width: 250px;
          border-radius: 20px;
          border-style: none;
          padding-left: 10px;
        }
        .material-symbols-outlined {
          background-color: black;
          color: white;
          height: 25px;
          width: 25px;
          padding: 10px;
          position: absolute;
          margin-left: -44px;
          border-radius: 50%;
        }
      }
      hr {
        width: 90%;
      }
      #footer2 {
        font-family: 'Afacad', sans-serif;
        display: flex;
        padding: 0 50px;
        #desc {
          width: 40%;
          p {
            width: 200px;
          }
        }
        #contact {
          width: 30%;
        }
        #company {
          width: 15%;
        }
        #resource {
          width: 15%;
        }
      }
      #footer3 {
        font-family: 'Afacad', sans-serif;
        height: 50px;
        align-items: center;
        display: flex;
        padding: 0 50px;
        #copyright {
          width: 50%;
        }
        #supportePayments {
          display: flex;
        }
        img {
          width: 120px;
        }
      }
    }
  }

  