body {
  font-family: 'Afacad', sans-serif;
  
    background-color: #f9f9f9;
    margin: 5px 5%;
    #header {
      margin-bottom: 3rem;
      padding: 0 50px;
      #topbar {
        width: 100%;
        height: 15px;
        display: inline-flex;
        border-top: 1px solid #bcbcbc;
  
        .bar:nth-child(1) {
          border-left: none;
          width: 47%;
        }
  
        .bar {
          width: 13%;
          border-left: 1px solid #bcbcbc;
        }
      }
  
      background-color: #f9f9f9;
  
      #navBar {
        display: flex;
  
        #logo {
          width: 48%;
          font-size: 50px;
        }
  
        #navBarlist {
          list-style: none;
          width: 40%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 25px;
          row-gap: 10px;
          height: fit-content;
          font-family: 'Afacad', sans-serif;
  
          > p {
            height: 20px;
            margin: 0;
          }
          > a {
            text-decoration: none;
            color: black;
            p {
              height: 20px;
              margin: 0;
            }
          }
          .bold {
            font-weight: 700;
          }
        }
  
        #contactUS {
          padding-top: 20px;
          font-family: 'Afacad', sans-serif;
        }
      }
    }
    form {
      font-size: 1.2rem;
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
      label {
          display: block;
          margin-bottom: 8px;
         // font-weight: bold;
      }
  
      input {
          width: 100%;
          padding: 10px;
          margin-bottom: 16px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
      }
  
      input[type="submit"] {
          background-color: #3498db;
          color: #fff;
          cursor: pointer;
          transition: background-color 0.3s ease;
          background-color: #27ae60;
          box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
          font-family: 'Afacad', sans-serif;
         
          &:active {
            box-shadow: #d6d6e7 0 3px 7px inset;
            transform: translateY(2px);
          &:hover {
            background-color: #27ae60;
           
          }
        }
      }
  
      // Additional styles for CVV and Expiry Date
      #flexbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:80px;
    
        label {
            margin-right: 50px;
            display:block;
        }
    
        input {
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            padding: 10px;
        }
    
        #cardCvv {
            width: 160px; 
        }
    
        #cardyear {
            width: 160px; 
        }
    }
    
  }
  
  
 
  
      
  
    #footer {
      margin-top: 3rem;
      background-color: #f9f9f9;
      #footer1 {
        font-family: 'Afacad', sans-serif;
        padding: 0 30px;
        display: flex;
        height: 150px;
        align-items: center;
        div {
          padding: 20px;
          font-size: 30px;
          width: 25%;
        }
        #socials {
          width: 25%;
          a {
            display: inline-block;
            vertical-align: middle;
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            img {
              width: 25px;
              margin: 25%;
            }
          }
        }
        #emailInput {
          height: 40px;
          width: 250px;
          border-radius: 20px;
          border-style: none;
          padding-left: 10px;
        }
        .material-symbols-outlined {
          background-color: black;
          color: white;
          height: 25px;
          width: 25px;
          padding: 10px;
          position: absolute;
          margin-left: -44px;
          border-radius: 50%;
        }
      }
      hr {
        width: 90%;
      }
      #footer2 {
        font-family: 'Afacad', sans-serif;
        display: flex;
        padding: 0 50px;
        #desc {
          width: 40%;
          p {
            width: 200px;
          }
        }
        #contact {
          width: 30%;
        }
        #company {
          width: 15%;
        }
        #resource {
          width: 15%;
        }
      }
      #footer3 {
        font-family: 'Afacad', sans-serif;
        height: 50px;
        align-items: center;
        display: flex;
        padding: 0 50px;
        #copyright {
          width: 50%;
        }
        #supportePayments {
          display: flex;
        }
        img {
          width: 120px;
        }
      }
    }
  }
  