#first-mid-section{
    // border: 1px solid black;
    width: auto;
    height: 730px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding-right: 0px;

    .first-sec-img{
        // border: 1px solid black;
        width: 800px;
        height: 500px;

        img{
        width: 100%;
        height: 700px;
        }
    }

    .first-text-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 1px solid red;
        width: 800px;
        margin-right: 0px;
        padding-right: 0px;
        gap: 6%;

        .first-text-heading{
            // border: 1px solid black;
            width: 600px;
            height: 25%;
            font-size: 25px;
            margin-top: 17%;
            margin-left: 35px;


            h1{
                font-family: 'Noto Sans', sans-serif;
                letter-spacing: 2px;
                word-spacing: 5px;
                font-size: 55px;
            }
        }

        .round-text-div{
            width: 650px;
            height: 300px;
            // border: 1px solid black;
            display: flex;
            align-items: center;
            gap: 8%;

            .round-img{
                width: 200px;
                height: 180px;
                margin-left: 25px;
                // border: 1px solid red;
            }
            img{
                width: 200px;
                height: 180px;
            }

            .round-div-text{
                // border: 1px solid red;
                height: 200px;
                width: 400px;

                h3{
                    color: rgb(63, 63, 63);
                    font-family: 'Afacad', sans-serif;
                    line-height: 30px;
                    font-weight: 300;
                }
            }
        }
    }
}

.second-mid-section{
    // border: 1px solid black;
    width: auto;
    height: 850px;
    margin-top: 20px;
    display: flex;

    .second-text-section{
        // border: 1px solid red;
        width: 600px;
        margin: 5px 5px 5px 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        
        .second-section-heading{
            // border: 1px solid black;
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            line-height: 90px;
            letter-spacing: 5px;
            font-weight: 500;
            height: 250px;
            padding: 0px;
        }

        .travel-plan{
            // border: 1px solid black;
            width: 600px;
            height: 140px;
            display: flex;
            flex-direction: column;


                span{
                    font-family: 'Poppins', sans-serif;
                    font-size: 24px;

                    .point-one{
                        font-weight: lighter;
                    }

                    .point-text{
                        font-weight: bolder;
                    }
                }

                .travel-text{
                    font-family: 'Poppins', sans-serif;
                    color: rgb(63, 63, 63);;
                }
            
            
        }

        .flight-booking{
            // border: 1px solid black;
            width: 600px;
            height: 170px;
        }
        
        .accomodation{
            // border: 1px solid black;
            width: 600px;
            height: 170px;
        }


    }

    .second-img-section{
        // border: 1px solid red;
        width: 800px;
        margin: 5px 5px 5px 5px;

        img{
            width: 800px;
        }
    }
}

