#services{
    h1{
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
    }
    #ser{
        display: grid;
        gap: 22px 23px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        //border: 1px solid black;
        margin-bottom: -266px;
        justify-content: space-between;
        margin-left: 85px;
        margin-right: 135px;
        
        >div{
            background-color:#f9f9f9;
            // border:1px solid black;
            height:300px;
            width:300px;
            border-radius: 8%;
            padding-top: 40px;
            padding-left: 30px;
            padding-right:45px;
            p{
                color:grey;
                font-weight:300;
            }
            h4{
              
                font-family: 'Poppins', sans-serif;
                font-size: 25px;
            }
            
        }
    }
    @media screen and (min-width: 100px) and (max-width: 650px) {
        #ser{
            display: grid;
            
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }
}

//other part
#travel{
    h1{
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
    }
    #flexbox{
        display: flex;
        gap: 3px;
       
       
        margin-left: 85px;
        margin-right: 135px;
        flex-wrap: wrap;
     
        justify-content: space-between;
        margin-bottom: 60px;
        
        
        >div{
           
           
            height:400px;
            width:300px;
            padding-left:40px;
            padding-right:30px;
            
            
            p{
                color:grey;
                font-weight:300;
                // text-align: left;
            }
            h4{
              
                font-family: 'Poppins', sans-serif;
                font-size: 25px;
                // text-align: left;
            }
            
        }
    }
}
