body {
  margin: 5px 5%;
}
body #header {
  padding: 0 50px;
  background-color: white;
}
body #header #topbar {
  width: 100%;
  height: 15px;
  display: inline-flex;
  border-top: 1px solid #bcbcbc;
}
body #header #topbar .bar:nth-child(1) {
  border-left: none;
  width: 47%;
}
body #header #topbar .bar {
  width: 13%;
  border-left: 1px solid #bcbcbc;
}
body #header #navBar {
  display: flex;
}
body #header #navBar #logo {
  width: 48%;
  font-size: 50px;
}
body #header #navBar #navBarlist {
  list-style: none;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25px;
  row-gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Afacad", sans-serif;
}
body #header #navBar #navBarlist > p {
  height: 20px;
  margin: 0;
}
body #header #navBar #navBarlist > a {
  text-decoration: none;
  color: black;
}
body #header #navBar #navBarlist > a p {
  height: 20px;
  margin: 0;
}
body #header #navBar #navBarlist .bold {
  font-weight: 700;
}
body #header #navBar #contactUS {
  padding-top: 20px;
  font-family: "Afacad", sans-serif;
}
body #footer {
  background-color: #f9f9f9;
}
body #footer #footer1 {
  font-family: "Afacad", sans-serif;
  padding: 0 30px;
  display: flex;
  height: 150px;
  align-items: center;
}
body #footer #footer1 div {
  padding: 20px;
  font-size: 30px;
  width: 25%;
}
body #footer #footer1 #socials {
  width: 25%;
}
body #footer #footer1 #socials a {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body #footer #footer1 #socials a img {
  width: 25px;
  margin: 25%;
}
body #footer #footer1 #emailInput {
  height: 40px;
  width: 250px;
  border-radius: 20px;
  border-style: none;
  padding-left: 10px;
}
body #footer #footer1 .material-symbols-outlined {
  background-color: black;
  color: white;
  height: 25px;
  width: 25px;
  padding: 10px;
  position: absolute;
  margin-left: -44px;
  border-radius: 50%;
}
body #footer hr {
  width: 90%;
}
body #footer #footer2 {
  font-family: "Afacad", sans-serif;
  display: flex;
  padding: 0 50px;
}
body #footer #footer2 #desc {
  width: 40%;
}
body #footer #footer2 #desc p {
  width: 200px;
}
body #footer #footer2 #contact {
  width: 30%;
}
body #footer #footer2 #company {
  width: 15%;
}
body #footer #footer2 #company > a {
  text-decoration: none;
  color: black;
}
body #footer #footer2 #company > a p {
  height: 20px;
  margin: 0;
}
body #footer #footer2 #resource {
  width: 15%;
}
body #footer #footer3 {
  font-family: "Afacad", sans-serif;
  height: 50px;
  align-items: center;
  display: flex;
  padding: 0 50px;
}
body #footer #footer3 #copyright {
  width: 50%;
}
body #footer #footer3 #supportePayments {
  display: flex;
}
body #footer #footer3 img {
  width: 120px;
}
body #footer3 {
  font-family: "Afacad", sans-serif;
  height: 50px;
  align-items: center;
  display: flex;
  padding: 0 50px;
}
body #footer3 #copyright {
  width: 50%;
}
body #footer3 #supportePayments {
  display: flex;
}
body #footer3 img {
  width: 120px;
}

#bookingDetails {
  font-family: "Afacad", sans-serif;
  padding: 50px;
}
#bookingDetails .bookedsucess {
  color: #27ae60;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
}
#bookingDetails .bookedsucess p {
  margin-top: 20px;
  margin-bottom: 20px;
}
#bookingDetails .congrats {
  color: #27ae60;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
}
#bookingDetails #bookingDetailspage {
  font-size: 25px;
  padding: 50px;
  padding-top: 1px;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
#bookingDetails #bookingDetailspage img {
  width: 800px;
  border-radius: 5px;
}
#bookingDetails #bookingDetailspage #touristDetails .formDetailsText .formDetails {
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
}
#bookingDetails #bookingDetailspage #touristDetails .formDetailsText .formDetails th {
  padding: 0.1rem 2rem;
  font-size: 1.4rem;
  background-color: #27ae60;
  color: white;
  font-weight: 100;
}
#bookingDetails #bookingDetailspage #touristDetails .formDetailsText .formDetails td {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}
#bookingDetails #bookingDetailspage #touristDetails .text {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}
#bookingDetails #bookingDetailspage #availability {
  background-color: #27ae60;
  border-radius: 10px;
  border: none;
  display: block;
  margin: 50px 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  font-family: "Afacad", sans-serif;
  height: 48px;
  padding: 0 40px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 25px;
}
#bookingDetails #bookingDetailspage #availability a {
  text-decoration: none;
  color: #36395a;
}
#bookingDetails #bookingDetailspage #otherLocations:hover,
#bookingDetails #bookingDetailspage #bookNow:hover,
#bookingDetails #bookingDetailspage #availability:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
#bookingDetails #bookingDetailspage #otherLocations:active,
#bookingDetails #bookingDetailspage #bookNow:active,
#bookingDetails #bookingDetailspage #availability:active {
  box-shadow: #27ae60 0 3px 7px inset;
  transform: translateY(2px);
}
#bookingDetails #bookingDetailspage #eventDate {
  border-radius: 50px;
  padding: 0 40px;
  height: 40px;
  margin: 30px 0;
  font-size: 25px;
  border-style: none;
}/*# sourceMappingURL=success.css.map */