body {
  margin: 5px 5%;
}
body #header {
  padding: 0 50px;
  background-color: white;
}
body #header #topbar {
  width: 100%;
  height: 15px;
  display: inline-flex;
  border-top: 1px solid #bcbcbc;
}
body #header #topbar .bar:nth-child(1) {
  border-left: none;
  width: 47%;
}
body #header #topbar .bar {
  width: 13%;
  border-left: 1px solid #bcbcbc;
}
body #header #navBar {
  display: flex;
}
body #header #navBar #logo {
  width: 48%;
  font-size: 50px;
}
body #header #navBar #navBarlist {
  list-style: none;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25px;
  row-gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Afacad", sans-serif;
}
body #header #navBar #navBarlist > p {
  height: 20px;
  margin: 0;
}
body #header #navBar #navBarlist > a {
  text-decoration: none;
  color: black;
}
body #header #navBar #navBarlist > a p {
  height: 20px;
  margin: 0;
}
body #header #navBar #navBarlist .bold {
  font-weight: 700;
}
body #header #navBar #contactUS {
  padding-top: 20px;
  font-family: "Afacad", sans-serif;
}
body #footer {
  background-color: #f9f9f9;
}
body #footer #footer1 {
  font-family: "Afacad", sans-serif;
  padding: 0 30px;
  display: flex;
  height: 150px;
  align-items: center;
}
body #footer #footer1 div {
  padding: 20px;
  font-size: 30px;
  width: 25%;
}
body #footer #footer1 #socials {
  width: 25%;
}
body #footer #footer1 #socials a {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body #footer #footer1 #socials a img {
  width: 25px;
  margin: 25%;
}
body #footer #footer1 #emailInput {
  height: 40px;
  width: 250px;
  border-radius: 20px;
  border-style: none;
  padding-left: 10px;
}
body #footer #footer1 .material-symbols-outlined {
  background-color: black;
  color: white;
  height: 25px;
  width: 25px;
  padding: 10px;
  position: absolute;
  margin-left: -44px;
  border-radius: 50%;
}
body #footer hr {
  width: 90%;
}
body #footer #footer2 {
  font-family: "Afacad", sans-serif;
  display: flex;
  padding: 0 50px;
}
body #footer #footer2 #desc {
  width: 40%;
}
body #footer #footer2 #desc p {
  width: 200px;
}
body #footer #footer2 #contact {
  width: 30%;
}
body #footer #footer2 #company {
  width: 15%;
}
body #footer #footer2 #company > a {
  text-decoration: none;
  color: black;
}
body #footer #footer2 #company > a p {
  height: 20px;
  margin: 0;
}
body #footer #footer2 #resource {
  width: 15%;
}
body #footer #footer3 {
  font-family: "Afacad", sans-serif;
  height: 50px;
  align-items: center;
  display: flex;
  padding: 0 50px;
}
body #footer #footer3 #copyright {
  width: 50%;
}
body #footer #footer3 #supportePayments {
  display: flex;
}
body #footer #footer3 img {
  width: 120px;
}
body #footer3 {
  font-family: "Afacad", sans-serif;
  height: 50px;
  align-items: center;
  display: flex;
  padding: 0 50px;
}
body #footer3 #copyright {
  width: 50%;
}
body #footer3 #supportePayments {
  display: flex;
}
body #footer3 img {
  width: 120px;
}

#searchForm {
  display: flex;
  flex-direction: column;
}
#searchForm #popular {
  height: 150px;
  display: flex;
  padding: 0 50px;
}
#searchForm #popular p {
  font-family: "Afacad", sans-serif;
  font-size: 25px;
  padding: 30px 15px 0 0;
}
#searchForm #popular #countries {
  margin: auto;
  gap: 40px;
  display: flex;
  justify-content: space-around;
}
#searchForm #popular #countries button {
  background-color: #f9f9f9;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  font-family: "Afacad", sans-serif;
  height: 48px;
  padding: 0 40px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 25px;
}
#searchForm #popular #countries button {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
#searchForm #popular #countries button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
#searchForm #popular #countries button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
#searchForm #searchCriteria {
  display: flex;
  height: 150px;
  align-items: center;
  background-color: #f9f9f9;
}
#searchForm #searchCriteria #selectBy,
#searchForm #searchCriteria #selectEvent {
  display: block;
  margin: auto;
}
#searchForm #searchCriteria #selectBy select,
#searchForm #searchCriteria #selectEvent select {
  font-family: "Afacad", sans-serif;
  border-radius: 50px;
  padding: 0 40px;
  height: 40px;
  font-size: 25px;
}
#searchForm #searchInp {
  padding: 20px 50px;
  margin: 25px;
  display: flex;
  gap: 200px;
}
#searchForm #searchInp #inputCountry {
  width: 40%;
  height: 40px;
}
#searchForm #searchInp button {
  display: block;
  width: 30%;
  height: 40px;
  margin: auto;
  cursor: pointer;
  border-style: none;
  border-radius: 15px;
  background-color: #00da83;
}
#searchForm #searchInp button {
  box-shadow: #00da83 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00da83 0 -3px 0 inset;
}
#searchForm #searchInp button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00da83 0 -3px 0 inset;
  transform: translateY(-2px);
}
#searchForm #searchInp button:active {
  box-shadow: #00da83 0 3px 7px inset;
  transform: translateY(2px);
}
#searchForm #searchResults {
  font-family: "Afacad", sans-serif;
  padding: 0 50px 50px 50px;
  margin: auto;
  width: 100%;
}
#searchForm #searchResults .card {
  margin: 20px 0;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 25px;
  height: 350px;
  width: 90%;
  display: flex;
}
#searchForm #searchResults .card img {
  border-radius: 25px;
  width: 50%;
  height: 350px;
}
#searchForm #searchResults .card .info {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#searchForm #searchResults .card .info div {
  display: flex;
  gap: 50px;
}
#searchForm #searchResults .card .info div input {
  border-radius: 50px;
  padding: 0 40px;
  height: 40px;
  font-size: 25px;
  border-style: none;
}
#searchForm #searchResults .card .info div button {
  display: block;
  font-family: "Afacad", sans-serif;
  width: 30%;
  height: 40px;
  margin: auto;
  cursor: pointer;
  border-style: none;
  border-radius: 15px;
  background-color: #00da83;
}
#searchForm #searchResults .card .info div button {
  box-shadow: #00da83 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00da83 0 -3px 0 inset;
}
#searchForm #searchResults .card .info div button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00da83 0 -3px 0 inset;
  transform: translateY(-2px);
}
#searchForm #searchResults .card .info div button:active {
  box-shadow: #00da83 0 3px 7px inset;
  transform: translateY(2px);
}
#searchForm #paginationButtons {
  width: 100%;
  display: flex;
  justify-self: center;
}
#searchForm #paginationButtons #buttons {
  display: flex;
  justify-self: center;
  gap: 5px;
  margin: auto;
}
#searchForm #paginationButtons #buttons button {
  width: 60px;
  height: 30px;
}

#bookingDetails {
  font-family: "Afacad", sans-serif;
  padding: 50px;
}
#bookingDetails #bookedsucess {
  text-align: center;
  color: green;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 2rem;
}
#bookingDetails #bookingDetailspage {
  font-size: 25px;
  padding: 50px;
  padding-top: 1px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
#bookingDetails #bookingDetailspage img {
  width: 800px;
  border-radius: 5px;
}
#bookingDetails #bookingDetailspage #touristDetails .text {
  display: flex;
  gap: 10px;
}
#bookingDetails #bookingDetailspage #touristDetails .text #inc, #bookingDetails #bookingDetailspage #touristDetails .text #dec {
  background-color: #f9f9f9;
  border-radius: 2px;
  border: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  font-family: "Afacad", sans-serif;
  padding: 0 10px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 25px;
}
#bookingDetails #bookingDetailspage #touristDetails .text #display {
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
#bookingDetails #bookingDetailspage #touristDetails .text input::-webkit-outer-spin-button,
#bookingDetails #bookingDetailspage #touristDetails .text input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#bookingDetails #bookingDetailspage #otherLocations,
#bookingDetails #bookingDetailspage #bookNow,
#bookingDetails #bookingDetailspage #availability {
  background-color: #f9f9f9;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  font-family: "Afacad", sans-serif;
  height: 48px;
  padding: 0 40px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 25px;
}
#bookingDetails #bookingDetailspage #otherLocations a,
#bookingDetails #bookingDetailspage #bookNow a,
#bookingDetails #bookingDetailspage #availability a {
  text-decoration: none;
  color: #36395a;
}
#bookingDetails #bookingDetailspage #otherLocations:hover,
#bookingDetails #bookingDetailspage #bookNow:hover,
#bookingDetails #bookingDetailspage #availability:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
#bookingDetails #bookingDetailspage #otherLocations:active,
#bookingDetails #bookingDetailspage #bookNow:active,
#bookingDetails #bookingDetailspage #availability:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
#bookingDetails #bookingDetailspage #eventDate {
  border-radius: 50px;
  padding: 0 40px;
  height: 40px;
  margin: 30px 0;
  font-size: 25px;
  border-style: none;
}/*# sourceMappingURL=success.css.map */